* {
  font-family: sans-serif;
  color: #f9faf8;
}

body {
  margin: 0;
  padding: 0;
  background-color: #08336e;
}

header {
  padding: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
}

.navbar .links {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none !important;
}

.hero {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 15px;
}

header .hero .hero_image {
  height: auto;
  width: 500px;
}

header .hero .hero_image img {
  height: auto;
  width: 100%;
}

.products {
  text-align: center;
  margin-bottom: 54px;
}

#assets {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#assets .prod_imgs {
  height: 230px;
  width: 250px;
  border-radius: 15px;
}

#assets .prod_imgs:hover {
  cursor: pointer;
}

#assets .prod_imgs img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

#assets .prod_imgs img:hover {
  scale: 110%;
}

.board {
  height: 100px;
  text-align: center;
  padding-top: 20px;
}

footer {
  text-align: center;
}
#copyright {
  font-size: 10px;
}
